pkg/
pkg/*
eshell/history
custom.el
emacs.el
projects
recentf
tramp
auto-save-list/.saves-8658-betws~
transient/history.el
auto-save-list/.saves-9034-betws~
backups/
backups/!home!cal!.emacs.oak!.git!COMMIT_EDITMSG~
auto-save-list/
nov-places
places
bookmarks
eshell/lastdir
eshell/
url/*
eww/
server/
.org-id-locations
network-security.data
request/
%backup%~
